.vertical_swimlanes {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    padding: 0px 15px 15px 15px;
}

.column_container {
    background-color: #ebecf0;
    border-radius: 3px;
    text-align: center;
    min-width: 272px;
    padding: 12px 12px 10px 12px;
    margin: 5px;
}

.board_options {
    display: flex;
    flex-direction: row;
    padding: 5px 0px 0px 20px;
    gap: 10px;
}

.board_title {
    color: white;
    font-size: large;
    display: inline-block;
}

.col_header {
    height: 30px;
    text-align: left;
    font-weight: bold;
}

.col_footer {
    color: #8993a6;
}

.col_cards {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.addItemButton {
    border-radius: 3px;
    background-color: #ebecf0;;
    border-color: #ebecf0;
    width: 100%;
    cursor: pointer;
    color: #8993a6;
    transition-duration: 0.1s;
    border-style: solid;
    border-radius: 4px;
    line-height: 1;
}

button {
    font-size: 16px;
    text-align: left;
    font-family: inherit;
    padding: 5px 0 5px 0;
}

button:hover {
    background-color: #8993a6;
    color: white;
}

.ticket_tag{
    display: inline;
    margin-right: 3px;
    /* todo: remove margin from the last tag */
    padding-left: 0px;
}

.tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
    margin-bottom: 5px;
}